.wrap{
	background: #FFF8DC;
	width: 1000px;
	margin: 20px auto;
}
 
/*bagian header*/
.wrap .header{
	color : White;
	font-family: sans-serif;
	font-style: normal;
	text-align: center;
	background: #000080;
	/*height: 70px;*/
	padding: 2px 10px;
	margin:0 0 5px 0;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
}
 
.wrap .menu ul{
	font-family: sans-serif;
	font-style: normal;
	padding: 0;
	margin: 0;
	background: yellow;
	overflow: hidden;
	margin:0 0 5px 0;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
	margin:0 0 5px 0;
}
/*akhir menu*/
 
.clear{
	clear: both;
	margin:0 0 5px 0;
}
 
.badan{
	
	height: 400px;
	
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	font-family: sans-serif;
	font-style: normal;
	background: #6495ED;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	
	font-family: sans-serif;
	font-style: normal;
	background: #00CED1;
	float: left;
	height: 100%;
	width: 75%;
}
 
.wrap .footer{
	font-family: sans-serif;
	font-style: normal;
	text-align: center;
	background: #CD5C5C;
	width: 100;
	padding: 10px;
}